<div class="zara-scroll">

    <!-- First image full -->
    <div class="zara-section">
        <div class="zara-frame">
            <img src="/images/home/flowerr.png">
            <div class="zara-text">Where every petal carries a feeling</div>
        </div>
    </div>

    
        <div class="zara-section">
        <div class="zara-frame">
            <img src="/images/home/flll.png">
            <div class="zara-text">Love is best when it is shared</div>
        </div>
    </div>

    


    <!-- Remaining full width -->
    <div class="zara-section">
        <div class="zara-frame">
            <img src="/images/home/couple1.png">
            <div class="zara-text">Two hearts, one story</div>
        </div>
    </div>

    <div class="zara-section">
        <div class="zara-frame">
            <img src="/images/home/flooo.png">
            <div class="zara-text">Give her a beautiful smile</div>
        </div>
    </div>

    <div class="zara-section">
        <div class="zara-frame">
            <img src="/images/home/giftbox1.png">
            <div class="zara-text">Every box holds a hidden smile</div>
        </div>
    </div>

    <div class="zara-section">
        <div class="zara-frame">
            <img src="/images/home/hamper1.png">
            <div class="zara-text">A bundle of joy wrapped with care</div>
        </div>
    </div>

</div>
